button {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    position: absolute;
    margin: 5px 5px auto auto;
}

.button {
    display: flex;
    justify-content: end;
    width:100%;
    height: 30px;
}

