.component-container {
    margin: 20px auto;
    border: 2px solid var(--principal-background);
}

.carousel{
    width: 100%;
    /* border:1px solid black;*/
    margin-bottom: 0px;
}

.carousel-caption {
    background-color:var(--second-background-trans);
    border-radius: 10%;
    margin-bottom: 0%;
    padding: 3px;
}

div .carousel-item {
    
    /*border: 1px solid seagreen;*/
    width: 100%;
    max-height: 250px;
    /*overflow:hidden;*/
    padding-bottom: 0px;
    
}

h5, p {
    color: black;
    margin:auto 30px;
}

img {
    width: 100%;
    display: block;

}

/*prueba*/
 
.text {
    width: 200px;
    height: 100px;
    
    padding: 10px;
    color: #0000FF;
    position: absolute;
    z-index: 1;
}
 
 
.trans {
    opacity: 0.5;
}
