.component-container {
    background: var(--second-background-opacity);
    border: 2px solid cadetblue;
}

form {
    width: 300px;;
    /*border: 1px solid grey;*/
    margin: 20px;
    box-shadow: 0 4px 8px 0 var(--principal-background-opacity), 0 6px 20px 0 var(--principal-background-opacity);
    padding: 15px;
    background: var(--second-background);
}

label {
    font-size: 12px;
    display:block;
}

input, textarea {
    margin-bottom: 20px;
    width: 100%;
    padding: 5px;
}
/*
@media screen and (max-width:800px) {
    .component-container {
        display: flex;
    }
}*/

@media screen and (max-width:500px){
    .component-container {
        width:100%;
    }

    form {
        width: 100%;
    }
}

