/*.col-6 {
    position: relative;
    width: 100%;
}

.container {
    
    width: var(--body-width);
    margin-top:200px;
    margin-left: var(--body-left-margin);
    background:rgb(139, 11, 11);
}

.img-presentation {
    width: 100%;
}

.presentacion {
    bottom: 0pt;
    position: absolute;  
}

.row {
    display: block;
}*/



/*--------------------
.container {
    background: blue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 60%;
    justify-items: auto;
}*/

.container1 {
    display: flex;
    flex-direction: row-reverse;

}

.img-presentation {
    display: flex;
    /*position: absolute;*/
    overflow: hidden;
    /*background-color: aqua;*/
    margin-right: 0px;
    /*justify-content: baseline;*/
}

img {
    width: 1500px;
    min-width: 100px;  
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*background-color: aqua;*/
    padding: 20px 30px;
    text-align: right;
}

.background {
    width: 100%;
    /*height: 80px;
    border-radius: 25px;
    padding: 5px 10px;*/
    margin-top: 15px;
    /*background:var(--principal-background);*/
    position: relative;
    margin-left:0px;
    
}

.datos {
    height: 80px;
    width: 100%;
    border-radius: 25px;  
    width: var (--body-width);
    position: absolute;
    opacity: 0.5;
    border: 2px solid var(--principal-background);
}


span {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    margin: 5px 20px;
    line-height:2px;
}

.name {
    font-weight: bold;
    margin: 5px 20px;
    line-height:2px;
}

@media screen and (max-width: 768px) {
    
    .container1 {
        display: flex;
        flex-direction: column;
    }
    
    img {
        width: 500px;
        min-width: 100px;  
    }
    
}




