<article>
    <div class="container">
        <div class="container1">
            <div class="img-presentation">
                <img src="../../../assets/img/Lola_y_yo_en_Mascompany.jpg" alt="Fotografía personal">
            </div>
                
            
            <div class="presentacion">
                <h2>Sobre mí</h2>
                <p class="text-presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Maiores, earum laboriosam cumque unde tenetur ab? Nihil amet, saepe, maxime dolore
                    enim deserunt corporis non, veniam rerum laudantium perferendis porro atque.</p>
            </div>
        </div>
        <div class="background container">
            <div class="datos"></div>
            <span class="name">Sandra N. Fernández</span>
            <br>
            <span>Full Stack Developer Jr</span>
            <br>
            <span>Formosa, Argentina</span>
            
        </div>
    </div>
    
</article>





<!--
<article>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="presentacion">
                    <h2>Sobre mí</h2>
                    <p class="text-presentation">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Maiores, earum laboriosam cumque unde tenetur ab? Nihil amet, saepe, maxime dolore
                        enim deserunt corporis non, veniam rerum laudantium perferendis porro atque.</p>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../assets/img/Lola_y_yo_en_Mascompany.jpg" alt="Fotografía personal"
                    class="img-presentation">
            </div>
        </div>
    </div>
</article>
-->
