
    <article class="component-container">
        <!--Presentación-->  
        <div class="container1">

           <div class="img-presentation"> 
                <img [src]="portfolioService.myImage" alt="Fotografía personal">
            </div>
                
            
            <div class="presentacion">

                <div>
                    <app-edit onclick="editElement()"></app-edit>
                </div>

                <h2>Sobre mí</h2>
                <p id="text-presentation" >{{portfolioService.aboutMe}}</p>
                    
                <form id="EditPresentation" style= "display:none">           
                    <textarea oninput="ingresar_parrafo(this.value)" cols="30" rows="5" ></textarea>
                    <!--
                    <input id="guardarPresentation" type="submit" value="Guardar" onclick="guardar_cambio()">
                    <input id="cancelarEdit" type="submit" value="Cancelar" onclick="cancelarEdit()">
                    -->
                </form>
            </div>
            
        </div>

        <!--Resumen/Datos-->
        <app-edit onclick="editElement('datos')"></app-edit>

        <div class="resume">
            <span id="name">{{portfolioService.name}}</span><br>
            <span id="title">{{portfolioService.profession}}</span><br>
            <span id="origin">{{portfolioService.city}}</span>

            <form id="datos" style= "display:none" class="edit">          
                <input type="text" placeholder="Nombre" maxlength="45" oninput="ingresar_parrafo('name', this.value)">
                <input type="text" placeholder="Título" maxlength="45" oninput="ingresar_parrafo('title', this.value)">
                <input type="text" placeholder="Origen" maxlength="45" oninput="ingresar_parrafo('origin', this.value)">
                <input type="submit" value="Guardar" onclick="guardar_cambio('datos')">
                <input id="cancelarEdit" type="submit" value="Cancelar" onclick="cancelarEdit('EditPresentation')">
            </form>
        </div>
    </article>
    


