<article>
    

    <div class="component-container">
        
        <div class="articles projects">
            
            <a href="http://localhost:4200/" style="text-decoration: none"><h2>Mis proyectos en proceso</h2></a> <!--pasar a Json-->
            <app-edit onclick="editElement('EditPpalProyect')"></app-edit>
            <p id="text-PpalProyect" style="background: yellow;">{{portfolioServProy.proyectos.descripcionProyectoPpal}}
                <a [href]="portfolioServProy.linkArgProg">Argentina Programa - </a>
                </p>

                <form id="EditPpalProyect" style= "display:none">           
                    <textarea oninput="ingresar_parrafo('text-PpalProyect', this.value)" cols="30" rows="5" ></textarea>
                    <input type="submit" onclick="guardar_cambio('EditPpalProyect')">
                </form>
                
                <a href="http://localhost:4200/"><img src="../../../assets/img/sigmund-F_m44ut3XTw-unsplash.jpg" alt="Programadora trabajando"
                    class="img-project"></a> <!--ACTUALIZAR-->
                
                
        </div>
        <div class="accordion" id="accordionExample">
            <app-edit></app-edit>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <img [src]="portfolioServProy.logoProyecto2" alt="Logo Fondo Nacional de las Artes"
                                class="img-button-accordion">
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <img src="../../../assets/img/telar_mapuche.jpeg" alt="Muestra de telar mapuche"
                                class="img-central-accordion img-project telar">
                        <p>{{portfolioServProy.descripcionProyecto2}}</p>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <img src="../../../assets/img/ratarrizz1.png" alt="Logo Ratarrizz"
                                class="img-button-accordion">
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse " aria-labelledby="headingTwo"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <img src="../../../assets/img/Bolso reciclado.jpg" alt="Muestra de telar mapuche"
                                class="img-central-accordion img-project telar">
                            <strong>This is the SECOND item's accordion body.</strong> It is hidden by
                            default, until the collapse plugin adds the appropriate classes that we use to
                            style each element. It's also worth noting that just about
                            any HTML can go within the <code>.accordion-body</code>, though the transition
                            does limit overflow.

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</article>


