
<div class="container">
    <app-header></app-header>
    
    <div class="container1">

        <app-presentation></app-presentation>
        
        <div class="dinamic">
            <div class="article">
                <app-projects></app-projects>
                <app-experience></app-experience>
            </div>
            <app-sidebar></app-sidebar>
        </div>
   
        <app-estudies></app-estudies>
        <app-contact></app-contact> 
    </div>

    <app-footer></app-footer>
</div>





