
.component-container {
    display: flex;
    background: var(--principal-background);
    justify-content: space-between;
    align-items: center;
    
}

.logo_ap {
    left: var(--body-left-margin);
    width: 100px;
    min-width: 80px;
}

.login {
    margin:20px 10px auto auto;
 /*   margin-left: auto;
    margin-right: 10px;*/
    color: #fff;
}



