.component-container {
    display: flex;
    background: var(--principal-background);
    justify-content: space-between;
    align-items: center;
   
}

.logo_ap {
    left: var(--body-left-margin);
    width: 100px;
    min-width: 80px;
}

button {
    margin:20px 10px auto auto;
    background: var(--principal-background);
    color: #fff;
    font-size: 11px;
    padding: 5px 10px;
}

@media screen and (max-width: 200px){
    .component-container {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 10px;
    }

    button {
        margin: auto;
    }
}


