/*General*/
/** {
    margin:0px;
    padding:0ps;
}*/
:root {
    --principal-background:RGB(107,112,92);
    /*--body-width: 60%;*/
    --body-left-margin: 25px;
    --img-project: auto;
    --relative-width: width;
    --relative-height: hight;
}

article .container, footer {
    width: var(--body-width);
    margin-top:40px;
    margin-left: var(--body-left-margin);
    /*background:rgb(139, 11, 11); /*--ELIMINAR--*/
}


p {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

