/*General*/
* {
    margin: 0px;
    padding: 0px;
}

:root {
    --principal-background:RGB(107,112,92);
    --principal-background-hover: #9b9b7a;
    --second-background:RGB(217,174,148);
    --second-background-trans:rgba(217,174,148,0.8);
    --img-project: auto;
    --mediaQuerySmall: 300px;
    --mediaQueryMedium: 500px;
    --mediaQueryLarge: 768;
}

/*Containers*/
body {
    border: 3px solid var(--principal-background);
}

.container {
    width: 100%;
    min-width: 90px;
}

.component-container {
    width: 100%;
    position: relative;
    margin-top: 30px;
    min-width: 90px;
}

/*Textos*/
p {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

ul {
    list-style: none;
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 200px) {
    p {
        font-size: 11px;
    }
}

