<div class="component-container">
    
    
    <p>Estudios</p>
        <div class="studies">
            
            <ul  class="studies-det">
                <app-edit></app-edit>
                <li *ngFor="let estudio of educFormal">
                    <div class="img-studies">
                        <img src="../../../assets/img/literature (1).png" alt="">
                    </div>
                    
                    <div class="detail">
                        <h6> {{estudio.tituloEstudio}} </h6>
                        <p>{{estudio.anioInitEstudio}}-{{estudio.anioEndEstudio}}</p>
                    </div>
                </li>
                <li>
                    <div class="img-studies">
                        <img src="../../../assets/img/programming-code-signs (1).png" alt="">
                    </div>
                    
                    <div class="detail">
                        <h6> estudio </h6>
                        <p>año-año</p>
                    </div>
                </li>
                <li>
                    <div class="img-studies">
                        <img src="../../../assets/img/design (1).png" alt="">
                    </div>
                    
                    <div class="detail">
                        <h6> estudio </h6>
                        <p>año-año</p>
                    </div>
                </li>
            </ul>
            <ul class="studies-det cursos">
                <app-edit></app-edit>
                <li class="curso">
                    <div><h6>curso</h6></div>
                    <div><p>entidad</p></div>
                    <div><p>año</p></div>
                </li>
                <li class="curso">
                    <h6>curso</h6>
                    <p>entidad</p>
                    <p>año</p>
                </li>
                <!--<li class="curso">
                    <h6>curso</h6>
                    <p>entidad</p>
                    <p>año</p>
                </li>
                <li class="curso">
                    <h6>curso</h6>
                    <p>entidad</p>
                    <p>año</p>
                </li>-->
            </ul>
        
        </div>
    
</div>
