<div class="component-container">
    <h5>Estudios, cursos y talleres</h5>
    <div class="subcontainer">
        <ul class="">
            <app-edit></app-edit>
                
            <li>
                <div class="img"> 
                    <img src="../../../assets/img/argentina_programa_iso.png" alt="Logo Argentina Programa">
                </div>
                
            
                <div class="studies">
                    <h6>Full Stack Web Developer</h6>
                    <P>Argentina Programa</P>
                    <p>2021-2022</p>
                </div>
            </li>

            <li>
                <div class="img"> 
                    <img src="../../../assets/img/unne.png" alt="Logo Universidad Nacional del Nordeste - UNNE">
                </div>
                
            
            <div class="studies">
                <h6>Profesorado / Licenciatura en Filosofía (incompleto)</h6>
                <P>Universidad Nacional del Nordeste (UNNE).</P>
                <p>1999-2002</p>
            </div>
        </li>
        </ul>
        <ul class="course">
            <app-edit></app-edit>
            <li class="studies">
                <h6>Emprendedorismo</h6>
                <p>Cámara de Mujeres Emprendedoras Formosa y otros</p>
                <p>2018</p>
            </li>
            <li class="studies">
                <h6>Asistente de Recursos Humanos</h6>
                <p>Instituto Mercantil Formosa y otros</p>
                <p>2018</p>
            </li>
        </ul>
    </div>
</div>





